*{
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  height: 100px;
  background-color: rgb(240,182,175);
  text-align: center;
  font-size: 55px;
  color: rgba(61, 1, 55, 0.5);
  font-family: cursive;
}
img{
  border-radius: 75%;
  border-style: dotted;
}
