*{
<<<<<<< HEAD
  width: 100%
=======
  width: 100%;
>>>>>>> 7312f0b5eddc66fd6f45abe5c92fe1ccc774066d
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(234, 137, 110);
}
h1{
  font-family: cursive;
  color: rgba(89, 37, 62, 0.6);
  margin: 20px;
  font-size: 55px;
  text-align: center;
}
img {
  border-radius: 60%;
  background-color: white;
  border: dotted;

}
